  <div class="col-sm-12">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Glassware</a></li>
        <li class="active">Beaker</li>
      </ol>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="image-menu">
      <img src="/assets/images/product/1000.jpg" alt="image" class="image-in-menu">
      <img src="/assets/images/product/1000.jpg" alt="image" class="image-in-menu">
      <img src="/assets/images/product/1000.jpg" alt="image" class="image-in-menu">
      <img src="/assets/images/product/1000.jpg" alt="image" class="image-in-menu">
    </div>
  </div>

<div class="col-sm-3">
    <div class="display-image-container">
      <img src="/assets/images/product/1000.jpg" alt="image" class="display-image">
    </div>
</div>
<div class="col-sm-4">
    <div class="product-description">
      <h3>Pyrex Low Form Beaker</h3>
      <ul>
        <li>Complies with ISO 3819 and DIN 12331</li>
        <li>Manufactured from Pyrex® borosilicate glass</li>
        <li>Excellent thermal performance</li>
        <li>High resistance to chemical attack</li>
        <li>Printed with Trace Code for downloadable batch certificate</li>
        <li>Batch certificate available to download from www.scilabware.com</li>
        <li>White graduations and marking spot</li>
      </ul>

      <h1>{{id}}</h1>
      
    </div>    
</div>

<div class="col-sm-12">
  <md-tab-group>
  <md-tab label="Specification">
    <table class="table cart-input">
      <thead>
        <tr>
          <th>Item Code</th>
          <th>Capacity (ml)</th>
          <th>Height (mm)</th>
          <th>Outside Diameter (mm)</th>
          <th>Price</th>
          <th>Delivery</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1000/03M</td>
          <td>5</td>
          <td>30</td>
          <td>22</td>
          <td>RM12</td>
          <td>4 Days</td>
          <td>
            <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="0" class="order-unit">              
            </div>
            <button type="submit" class="btn btn-default">Add to Cart</button>
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </form>

          </td>
        </tr>
        <tr>
          <td>1000/05M</td>
          <td>10</td>
          <td>35</td>
          <td>26</td>
          <td>RM14</td>
          <td>4 Days</td>
          <td>
            <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="0" class="order-unit">              
            </div>
            <button type="submit" class="btn btn-default">Add to Cart</button>
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </form>

          </td>
        </tr>
        <tr>
          <td>1000/11M</td>
          <td>25</td>
          <td>50</td>
          <td>34</td>
          <td>RM16</td>
          <td>4 Days</td>
          <td>
            <form class="form-inline">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="0" class="order-unit">              
            </div>
            <button type="submit" class="btn btn-default">Add to Cart</button>
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </form>

          </td>
        </tr>
        
      </tbody>
      
    </table>

  </md-tab>
  <md-tab label="Download">None</md-tab>
</md-tab-group>
</div>
