  <div class="col-sm-12">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a routerLink="{{allProducts[(id -1)].categoryPath[0]}}">{{allProducts[(id -1)].category[0]}}</a></li>
        <li><a routerLink="{{allProducts[(id -1)].categoryPath[1]}}">{{allProducts[(id -1)].category[1]}}</a></li>
        <li class="active">Beaker</li>
      </ol>
    </div>
  </div>

  <div class="col-sm-1">
    <div class="image-menu">
      <span *ngFor = "let image of allProducts[(id -1)].image; let i = index;" (click)="onSelectImage(i)">
        <img src="{{image}}" alt="image" class="image-in-menu">
      </span>
    </div>
  </div>

<div class="col-sm-3">
    <div class="display-image-container">
      <img src="{{selectedImage}}" alt="image" class="display-image">
    </div>
</div>
<div class="col-sm-4">
    <div class="product-description">
      <h3>{{allProducts[(id - 1)].name}}</h3>
      
      <span [innerHTML]="allProducts[(id - 1)].shortDescription"></span>

      
    </div>    
</div>

<div class="col-sm-12">
  <md-tab-group>
  <md-tab label="Specification">
    <table class="table cart-input">
      <thead>
        <tr>
          <th>{{allProducts[(id - 1)].tableHeader.itemCode}}</th>
          <th *ngFor = "let attribute of allProducts[(id - 1)].tableHeader.attributes">{{attribute}}</th>          
          <th>{{allProducts[(id - 1)].tableHeader.price}}</th>
          <th>{{allProducts[(id - 1)].tableHeader.delivery}}</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let variation of allProducts[(id - 1)].variations">
          <td>{{variation.itemCode}}</td>
          <td *ngFor = "let attribute of variation.attributes">{{attribute}}</td>
          <td>{{variation.price[0]}} {{variation.price[1]}}</td>
          <td>{{variation.delivery[0]}} {{variation.delivery[1]}}</td>
          <td>
            <form class="form-inline" [formGroup]="addToCartForm" 
              (ngSubmit)="onSubmit(id,allProducts[(id - 1)].name, variation, allProducts[(id - 1)].tableHeader.attributes)">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="0" 
                  class="order-unit" required name="quantity" formControlName="quantity">                
              </div>
              <button type="submit" class="btn btn-default" >Add to Cart</button>
              <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </form>

          </td>
        </tr>
        
        
      </tbody>
      
    </table>

  </md-tab>
  <md-tab label="Download">None</md-tab>
</md-tab-group>
</div>
