<md-card class="signupCard">
  
  <md-card-content>
    <form>
      <h3>Sign Up New Account  <small><a routerLink="/signin"> (Sign In)</a></small></h3>
      <md-input-container class="fullwidth">
        <input mdInput placeholder="Name">
      </md-input-container>
      <br><br>
      <md-select placeholder="University" [(ngModel)]="selectedValue" name="university" class="fullwidth">
        <md-option *ngFor="let university of universities" [value]="university.value">
          {{university}}
        </md-option>
      </md-select>
      <br><br>
      
      <md-input-container class="fullwidth">
        <input mdInput placeholder="Department">
      </md-input-container>
      <br><br>
      <md-input-container class="fullwidth">
        <input mdInput placeholder="Email">
      </md-input-container>
      <br><br>
      <md-input-container class="fullwidth">
        <input mdInput placeholder="Handphone">
      </md-input-container>
      
      <br><br>
      <h4>Billing Address</h4>     
      <md-input-container class="fullwidth">
          <input mdInput placeholder="Street">
      </md-input-container> 
      <br><br>
      <md-input-container class="halfwidth">
          <input mdInput placeholder="City">
      </md-input-container>
      <md-input-container class="halfwidth">
          <input mdInput placeholder="State">
      </md-input-container> 
      <br><br>
      <md-input-container class="halfwidth">
          <input mdInput placeholder="Postcode">
      </md-input-container>
      <br><br>
      <md-checkbox [(ngModel)]="checked" name="sameAddress">
        Same Shipping Address
      </md-checkbox>
      <br><br>
      <h4>Shipping Address</h4>
      <md-input-container class="fullwidth">
          <input mdInput placeholder="Street">
      </md-input-container> 
      <br><br>
      <md-input-container class="halfwidth">
          <input mdInput placeholder="City">
      </md-input-container>
      <md-input-container class="halfwidth">
          <input mdInput placeholder="State">
      </md-input-container> 
      <br><br>
      <md-input-container class="halfwidth">
          <input mdInput placeholder="Postcode">
      </md-input-container>
      <md-input-container class="halfwidth">
          <input mdInput placeholder="Country">
      </md-input-container>
      <br><br>
      <button md-raised-button class="button">Submit</button>
    </form>
  </md-card-content>
</md-card>  





